@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

html {
  background-color: #eee;
}

body {
  font: 12pt normal Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 40px;
  padding-right: 265px;
  width: 900px;
  color: #000;
}

@media print {
  html {
    background-color: transparent;
  }

  #minimap, #minimap-viewport {
    display: none;
  }
}

#me {
  margin: 1em 0 0 0;
}

.tag {
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Courier New", "Courier", monospace;
  color: #a00000;
}

.subheading {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  margin: 0 0 1em 2.075em;
}

.big {
  font-size: 3em;
}

.small {
  font-size: 1.5em;
}

.tiny {
  font-size: 1em;
}

.tiny.tag:after {
  content: ">\a";
  white-space: pre;
}

.tag:before {
  content: "<";
  color: #00f;
}

.tag:after {
  content: ">";
  color: #00f;
}

.end.tag {
  /* Disallow selection to avoid duplicate headings when copied & pasted */
  -webkit-user-select: none; /* Still allows copying */
  -moz-user-select: none;
  -ms-user-select: none;
  display: none;
}

.end.tag:before {
  content: "</";
}

.angle {
  display: none;
}

.angle, .value {
  color: #0000ff;
}

.attr {
  color: #ff0000;
}

#doctype {
  font-size: 1.25em;
  position: absolute;
  left: 0;
  top: 0;
}

#doctype > a {
  text-decoration: none;
}

#doctype > a:before {
  content: "!";
  color: #00f;
}

a {
  color: #00b;
}

a > img, iframe {
  border: 0;
}

.video-container > iframe {
  width: 100%;
}

.image-container > img {
  width: 100%;
}

.tag a {
  color: inherit;
}

section {
  margin: 6em 0 6em 0;
}

section > ul {
  margin-left: 3em;
}

.hidden {
  display: none;
}

.info > *, .info, p, section > ul, section, blockquote {
  margin-left: 3em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 3em;
  padding: 1em 1em;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote .quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote .quote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.5em;
}

blockquote .attribution {
  color: #555;
}

.info {
  overflow: hidden; /* Fixes display issue when toggling section */
}

.info > h3 {
  margin-left: 0;
}

p, li {
  line-height: 1.5em;
}

.performance, .in-progress {
  font-style: italic;
}

.expand {
  color: #888;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  left: -2em;
}

.dropdown {
  position: relative;
  margin-left: 2em;
}

.social-icon-link {
  margin: 0 30px 30px 0;
}

.social-icon-link > img {
  width: 96px;
  height: 96px;
}

.csstransforms #minimap-viewport {
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  left: calc(100% - 225px);
  top: 0;
  width: 225px;
  height: 25%;
  cursor: pointer;
  z-index: 510;
}

.csstransforms #minimap {
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  position: fixed;
  left: calc(100% - 225px);
  top: 0;
  width: 900px; /* Scales to 225px */
  padding-top: 40px;
  -webkit-user-select: none;
  cursor: pointer;
  z-index: 500;
  min-height: 400%; /* Cover the window vertically */
}

.no-csstransforms #minimap-viewport, .no-csstransforms #minimap {
  display: none;
}

#minimap iframe {
  pointer-events: none; /* Prevent playing YouTube videos in the minimap */
}


@media only screen and (max-width: 600px) {
/* Respond to small screens */

  body {
    font-size: 10pt;
    width: auto;
    margin: 1em;
    padding: 0;
  }

  .image-container, .video-container {
    margin-right: 3em; /* Center the image/iframe */
  }

  .video-container {
    padding-bottom: 0;
    height: 100%;
  }

  .video-container > iframe {
    width: 100%;
    height: auto;
  }

  #minimap, #minimap-viewport {
    display: none;
  }

  :not(#minimap) #me {
    margin: 2em 0 0 0;
  }

  :not(#minimap) .tag {
    font-size: 1.5em;
  }

  :not(#minimap) .big {
    font-size: 2em;
  }

  :not(#minimap) .small {
    font-size: 1.25em;
  }

  :not(#minimap) .tiny {
    font-size: 1em;
  }

  :not(#minimap) #doctype {
    font-size: 1.25em;
    margin: 0.5em 0;
  }

  :not(#minimap) section {
    margin: 5em 0;
  }

  :not(#minimap) .info, p, section > ul {
    margin-left: 0;
  }

  :not(#minimap) .info > h3 {
    margin-left: 2em;
  }

  :not(#minimap) .social-icon-link {
    margin: 0 10px 10px 0;
  }

  :not(#minimap) .social-icon-link > img {
    width: 57px;
    height: 57px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
/* Respond to medium screens */

  #minimap, #minimap-viewport {
    display: none;
  }

  body {
    padding-right: 40px;
    width: auto;
  }
}
