/*@font-face {
  font-family: "Courier New";
  src: url("assets/courier-new.ttf");
}*/

html {
  background-color: #eee;
}

body {
  font: 16pt normal Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 40px;
  width: 960px;
  color: #000;
}

#resume-content {
  display: none;
}

#me {
  margin: 1em 0 0 0;
}

.code {
  font-size: 2.5em;
  font-weight: normal;
  font-family: "Courier New", "Courier", monospace;
  color: #800000;
}

.big {
  font-size: 3em;
}

.small {
  font-size: 1.5em;
}

.tiny {
  font-size: 1em;
}

.angle, .value {
  color: #0000ff;
}

.attr {
  color: #ff0000;
}

#doctype {
  font-size: 1.25em;
  position: absolute;
  left: 0;
  top: 0;
}

#doctype > a {
  text-decoration: none;
}

a {
  color: #00b;
}

a > img, iframe {
  border: 0;
}

.code a {
  color: inherit;
}

section {
  margin: 10em 0 15em 0;
}

section > ul {
  margin-left: 3em;
}

.hidden {
  display: none;
}

.info > *, .info, p, section > ul, section {
  margin-left: 3em;
}

.info {
  overflow: hidden; /* Fixes display issue when toggling section */
}

.info > h3 {
  margin-left: 0;
}

p, li {
  line-height: 1.5em;
}

.performance {
  font-style: italic;
}

.expand {
  color: #888;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.social-icon-link {
  margin: 0 30px 30px 0;
}

.social-icon-link > img {
  width: 96px;
  height: 96px;
}

#get-resume-no-print {
  display: none;
}

@media print {
/*Show only the resume when printing instead of the actual page*/
  html {
    background-color: transparent;
  }

  #content {
    display: none;
  }

  #resume-content {
    display: block;
  }

  @page {
    margin: 0.75in;
    /*size: portrait;*/
    size: 8.5in 11in;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
  }

  section {
    margin-bottom: 1em;
  }

  section > h2 {
    font-size: 1em;
    margin-left: 3em;
    margin-top: 2em;
  }
}

@media only screen and (max-device-width: 500px) {
/*Respond to smartphones and other small screens*/

  body {
    font-size: 10pt;
    width: auto;
    margin: 1em;
    padding: 0;
  }
  
  #me {
    margin: 2em 0 0 0;
  }

  .code {
    font-size: 1.5em;
  }

  .big {
    font-size: 2em;
  }

  .small {
    font-size: 1.25em;
  }
  
  .tiny {
    font-size: 1em;
  }
  
  #doctype {
    font-size: 1.25em;
    margin: 0.5em 0;
  }
  
  section {
    margin: 7em 0;
  }
  
  .info, p, section > ul {
    margin-left: 0;
  }
  
  .info > h3 {
    margin-left: 2em;
  }
  
  img {
    max-width: 90%;
  }
  
  .social-icon-link {
    margin: 0 10px 10px 0;
  }

  .social-icon-link > img {
    width: 57px;
    height: 57px;
  }
  
  #get-resume-no-print {
    display: block;
  }
  
  #get-resume-print {
    display: none;
  }
}