html {
  background-color: #fff;
}

body {
  font: 16pt normal Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 40px;
  width: 960px;
  color: #000;
}

#me {
  margin-bottom: 1.5em;
}

.code {
  font: 2em normal "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: #800000;
}

.big {
  font-size: 3em;
}

.small {
  font-size: 1.5em;
}

.tiny {
  font-size: 1em;
}

.angle, .value {
  color: #0000ff;
}

.attr {
  color: #ff0000;
}

.doctype {
  font-size: 1em;
  position: absolute;
  left: 0;
  top: 0;
}

.doctype > a {
  text-decoration: none;
}

a {
  color: #00b;
}

.code a {
  color: inherit;
}

section, p, ul, h4, .info {
  margin-left: 3em;
}

section {
  margin-bottom: 5em;
}

p, li {
  line-height: 1.5em;
}

.performance {
  font-style: italic;
}

.hidden {
  display: none;
}

.info {
  overflow: hidden; /* Fixes display issue when toggling section */
}

.expand {
  color: #888;
  cursor: pointer;
  -webkit-user-select: none;
}

.social-icon {
  margin-right: 40px;
}

.social-icon > img {
  width: 96px;
  height: 96px;
}